@use 'variables';

.headbar {
    width: 100%;
    height: 20%;
    background-color: black;
}
.header {
    // display: flex;
    // justify-content: space-between;
    // max-width: 400px;
    // padding: 10px 0;
    // font-weight: 1000;
    // color:black;
}
